<br/>
<br/>
<div class="container">
    <h1>Portfolio</h1>
    <hr>
    <div class="row">
        <mat-card class="portfolio-card">
            <mat-card-header>
              <mat-card-title>Mesh</mat-card-title>
              <mat-card-subtitle>Angular Web Application</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/images/mesh.png" alt="Photo of Mesh">
            <mat-card-content>
              <p>
                •	Utilized Agile Project Methodology to break down the project into small sprints<br/>
                •	Developed RESTful API calls using Express and Node.js to a MongoDB database<br/>
                •	Created a UX that helped streamline efficiency and increase learnability<br/>
                •	Developed client-side validated forms that help offload work from web services<br/>
                •	Integrated Auth0 to ensure industry standard authentication and authorization<br/>
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a href="https://github.com/varshannagarajan/BTSWebApp"><button mat-button >View Codebase</button></a>
            </mat-card-actions>
          </mat-card>
          <mat-card class="portfolio-card">
            <mat-card-header>
              <mat-card-title>Sports Database</mat-card-title>
              <mat-card-subtitle>Android Application</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/images/android_project.png" alt="Photo of android project">
            <mat-card-content>
              <p>
                •	Implemented SQLite database to create, store, update, and delete teams<br/>
                •	Programmed with modular, clean code using Java and XML with Android Studio<br/>
                •	Created with security first mindset; protecting against attacks like SQL injection<br/><br/><br/><br/><br/>
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a href="https://github.com/neilong31/Sports_DB_App"><button mat-button >View Codebase</button></a>
            </mat-card-actions>
          </mat-card>
          <mat-card class="portfolio-card">
            <mat-card-header>
              <mat-card-title>foreverNote</mat-card-title>
              <mat-card-subtitle>Web Application</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/images/foreverNote.png" alt="Photo of foreverNote">
            <mat-card-content>
              <p>
                •	Simple web application that saves notes for you to access later<br/>
                •	Programmed with reuseable code using vanilla Javascript and HTML5 with Visual Studio Code<br/>
                •	Maintained using Git<br/><br/><br/><br/><br/>
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a href="https://github.com/neilong31/foreverNote"><button mat-button >View Codebase</button></a>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
