<mdb-navbar SideClass="navbar navbar-expand-xl navbar-dark  light-blue accent-4 ie-nav" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#"><strong>Neil Ong</strong></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/home" routerLinkActive="active">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/projects" routerLinkActive="active">Portfolio</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" mdbWavesEffect>
                <a href="https://www.linkedin.com/in/neilong/" class="nav-link"><mdb-icon fab icon="linkedin"></mdb-icon></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a href="https://github.com/neilong31" class="nav-link"><mdb-icon fab icon="github"></mdb-icon></a>
            </li>
        </ul>
    </links>
</mdb-navbar>