<div class="container">
   
    <img src="./assets/images/neil.jpg" alt="Neil Ong" class="rounded-corners">

    <div class="row">
        <br/>
        <br/>
        <h2>Hello!</h2>
    </div>
    <div class="row">
        <p>My name is Neil Ong. My passion is creating beautiful and functional applications. I have created various projects using different languages and technologies, which can be seen under
             Portfolio. I love learning new techniques and technologies and integrating them into my projects. Alongside being a web and mobile developer, I am also a:</p>
        <br/>
        <p>  🏀 Raptors Superfan <br> 🚴 Amateur Cyclist<br> 🎮 Delusional Gamer</p>
    </div>
    <div class="row">
        <h4>Education</h4>
    </div>
    <div class="row">
        <p>I currently go to Seneca College for a Honours Bachelor of Technology - Software Development degree.</p>
        <p> My current GPA is 3.7 and expected to graduate August 2021!</p>
    </div>
    <div class="row">
        <h4>Skills</h4>
    </div>
    <div class="row">
        <div class="column">
            <h5>Languages:</h5>
            <p>Java</p>
            <p>Javascript</p>
            <p>Typescript</p>
            <p>C++</p>
            <p>Bash Shell Scripting</p>
        </div>
        <div class="column">
            <h5>Technologies:</h5>
            <p>Git</p>
            <p>Node.js</p>
            <p>Express</p>
            <p>MongoDB</p>
            <p>SQL</p>
            <p>Jest</p>
            <p>JUnit</p>
            <p>NPM/yarn</p>
        </div>
        <div class="column">
            <h5>Software/IDE:</h5>
            <p>Visual Studio Code</p>
            <p>Visual Studio 2019</p>
            <p>Android Studio</p>
            <p>Eclipse</p>
            <p>Adobe XD</p>
        </div>
        <div class="column">
            <h5>Frameworks/Platforms:</h5>
            <p>Angular</p>
            <p>React</p>
            <p>Android</p>
            <p>Unix</p>
        </div>
    </div>
</div>    


